@import "tailwindcss";
@config "../tailwind.config.js";

/* Base */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #1e293b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
